<style>
@import "/static/css/root.css";

:host([css=basic]) a
{
    color: rgb(var(--white));
}

:host([css=default]) a
{
    border-color: rgb(var(--white));
    color: rgb(var(--white));
}

:host([css=colored]) a
{
    background-color: rgb(var(--color-1));
    color: rgb(var(--white));
}

:host([css=active]) a
{
    border-color: rgb(var(--color-1));
    background-color: rgb(var(--white));
    color: rgb(var(--color-1));
}

:host([css=error]) a
{
    background-color: rgb(var(--color-10));
    color: rgb(var(--white));
}

a
{
    font-size: 16px;
    font-weight: 600;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: 13px 24px;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: background-color .2s, color .2s;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*===============================================//
// PC
//===============================================*/

@media screen and (min-width: 800px)
{
    :host([css=basic]) a:hover
    {
        color: rgb(var(--color-1));
    }

    :host([css=default]) a:hover
    {
        background-color: rgb(var(--white));
        border-color: rgb(var(--color-1));
        color: rgb(var(--color-1));
    }

    :host([css=colored]) a:hover
    {
        border-color: rgb(var(--color-1));
        background-color: rgb(var(--white));
        color: rgb(var(--color-1));
    }

    :host([css=error]) a:hover
    {
        background-color: rgb(var(--color-10-shade-1));
        color: rgb(var(--white));
    }
}
</style>
<a draggable="false"></a>