body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: rgb(var(--dark-text));
}

h2
{
    font-size: 40px;
}

p
{
    font-size: 18px;
    transition: color .2s;
}

.separator
{
    background-color: rgb(var(--color-1));
    height: 3px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}

#signup
{
    border-radius: var(--border-radius);
    border: 1px solid rgb(var(--color-1));
    padding: 40px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    margin: 40px;
    width: 700px;

    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 40px;
}

#signup__title
{
    display: flex;
    align-items: center;
    gap: 20px;
}

#subtitle.error
{
    color: rgb(var(--color-error));
}

#signup__frame
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#signup__fields
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#signup__password
{
    display: flex;
    gap: 20px;
    align-items: center;
}

#show
{
    height: 37px;
    width: 37px;
}

#signup__controls
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#signup__bar
{
    background-color: rgb(var(--color-5));
    border-radius: 4px;
}
