<style>
@import "/static/css/root.css";

#input__picture
{
    display: flex;
    gap: 20px;
}

.input__picture__fields
{
    position: relative;

    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.photo.focus
{
    border-color: rgb(var(--color-1));
}

input
{
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

label
{
    margin: auto;
}

img
{
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.hide
{
    display: none;
}

svg.hide
{
    display: none;
}

.delete.above
{
    z-index: 1;
}

/*===============================================//
// PC
//===============================================*/

@media screen and (min-width: 800px)
{
    .photo
    {
        position: relative;

        height: 300px;
        border: 2px solid rgb(var(--color-9));
        background-color: rgb(var(--white));
        color: rgb(var(--color-1));
        border-radius: var(--border-radius);

        display: flex;
        flex-direction: column;
    }

    svg
    {
        max-width: 80px;
        max-height: 80px;
        margin: auto;
        fill: rgb(var(--color-1));
    }
}

/*===============================================//
// PHONE
//===============================================*/

@media screen and (max-width: 800px)
{
    .photo
    {
        position: relative;

        height: 200px;
        border: 2px solid rgb(var(--color-9));
        background-color: rgb(var(--white));
        color: rgb(var(--color-1));
        border-radius: var(--border-radius);

        display: flex;
        flex-direction: column;
    }

    svg
    {
        max-width: 40px;
        max-height: 40px;
        margin: auto;
        fill: rgb(var(--color-1));
    }
}

</style>
<div id="input__picture">
    <div class="input__picture__fields">
        <div id="photo__0" class="photo">
            <svg id="svg__0" viewBox="0 0 24 24">
                <use xlink:href="#SvgCameraoutline"></use>
            </svg>
            <img id="img__0" class="hide">
        </div>

        <input id="input__0" accept="image/jpeg, image/png, image/gif, image/heic, image/heif, image/tiff, image/webp" type="file" autocomplete="off" tabindex="-1">
    
        <mou-link id="delete__0" class="delete" label="Photo n°1" css="colored"></mou-link>
    </div>

    <div class="input__picture__fields">
        <div id="photo__1" class="photo">
            <svg id="svg__1" viewBox="0 0 24 24">
                <use xlink:href="#SvgCameraoutline"></use>
            </svg>
            <img id="img__1" class="hide">
        </div>

        <input id="input__1" accept="image/jpeg, image/png, image/gif, image/heic, image/heif, image/tiff, image/webp" type="file" autocomplete="off" tabindex="-1">
    
        <mou-link id="delete__1" class="delete" label="Photo n°2" css="colored"></mou-link>
    </div>

</div>

<svg height="0" width="0">
    <symbol id="SvgCameraoutline">
        <path d="M21.6 3.54h-3.8L15.6 1.1H8.4L6.2 3.54H2.4A2.43 2.43 0 000 6v14.66a2.43 2.43 0 002.4 2.44h19.2a2.43 2.43 0 002.4-2.44V6a2.43 2.43 0 00-2.4-2.46zm0 17.12H2.4V6h4.86l2.2-2.45h5.08L16.74 6h4.86zM12 7.21a6.11 6.11 0 106 6.11 6.06 6.06 0 00-6-6.11zM12 17a3.67 3.67 0 113.6-3.67A3.65 3.65 0 0112 17z"></path>
    </symbol>    
</svg>