<form action="#" onsubmit="return false">
    <div class="signup">
        <label for="username"><b>Utilisateur</b></label>
        <input id="username" type="text" placeholder="Nom d'utilisateur" name="username" required>

        <label for="email"><b>Adresse email</b></label>
        <input id="email" type="text" placeholder="Adresse email" name="email" required>
    
        <label for="password"><b>Mot de passe</b></label>
        <input id="password" type="text" placeholder="Mot de passe" name="password" required>

        <button id="button" type="submit">S'inscrire</button>
      </div>
</form>