<style>
@import "/static/css/root.css";

#signup
{
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 40px;
    width: 100%;
}
#signup__container
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}
#signup__field
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    gap: 20px;
}
#title
{
    font-size: 30px;
    font-weight: 400;
}
#subtitle
{
    transition: color .2s;
}
#signup__form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#signup__logo
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.error
{
    color: #d93025;
}
.success
{
    color: green;
}
</style>
<div id="signup">
  <div id="signup__container">
      <div id="signup__field">
          <span id="title">Créer votre compte</span>
          <span id="subtitle">Créer un compte sur l'api moutarde</span>
          <form id="signup__form" action="#" onsubmit="return false">
              <input id="username" class="root input" type="text" placeholder="Nom d'utilisateur" required>
              <input id="email" class="root input" type="text" placeholder="Adresse email" required>
              <input id="password" class="root input" type="password" required>
              <button id="button" class="root button colored">Créer un compte</button>
          </form>
          <a href="/signin" id="signin" class="root button default">Connexion</a>
      </div>
      <div id="signup__logo">
          <img src="/static/images/Moutarde.png" width="120px" height="120px">
      </div>
  </div>
</div>