/*
This file include generic style that can be used inside shadowdom of webcomponents.
*/

@font-face
{
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

:root
{
    /*===============================================//
    // COLOR PALETTE
    //===============================================*/

    --color-1: 248, 172, 0  ; /* #F8AC00 */
    --color-2: 149, 172, 32 ; /* #95AC20 */
    --color-3: 57 , 155, 83 ; /* #399B53 */
    --color-4: 0  , 131, 113; /* #008371 */
    --color-5: 0  , 101, 115; /* #006573 */
    --color-6: 47 , 72 , 88 ; /* #2F4858 */

    --color-1-shade-1: 255, 247, 229; /* #fff7e5 */
    --color-1-shade-2: 255, 232, 179; /* #ffe8b3 */
    --color-1-shade-3: 255, 216, 128; /* #ffd880 */
    --color-1-shade-4: 255, 200, 77 ; /* #ffc84d */
    --color-1-shade-5: 255, 185, 26 ; /* #ffb91a */
    --color-1-shade-6: 230, 159, 0  ; /* #e69f00 */
    --color-1-shade-7: 179, 124, 0  ; /* #b37c00 */

    --dark-text:  95 , 99 , 104; /* #5f6368 */

    --color-error: 217, 48, 37; /* #d93025 */

    /*===============================================//
    // BORDER RADIUS
    //===============================================*/

    --border-radius: 20px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1px;
}


@media screen and (min-width: 800px)
{
    ::-webkit-scrollbar
    {
        width: 20px;
    }
    
    ::-webkit-scrollbar-track
    {
        background: #f1f1f1; 
    }
    
    ::-webkit-scrollbar-thumb
    {
        background: rgb(var(--color-1)); 
    }
    
    ::-webkit-scrollbar-thumb:hover
    {
        background: rgb(var(--color-1-shade-4));
    }
}

.loading
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    background-color: #fff;
    background-image: url("/static/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}