<style>
@import "/static/css/root.css";

:host
{
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

#header
{
    background: rgb(var(--white));
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}

#header__logo
{
    font-size: 18px;
    line-height: 26px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 20px;
}

#header__logo span
{
    color: rgb(var(--color-1));
    user-select: none;
}

#navigation__fields.hide
{
    display: none;
}

mou-link
{
    margin-left: auto;
}

/*===============================================//
// PC
//===============================================*/

@media screen and (min-width: 800px)
{
    #header__container
    {
        margin: 0 auto;
        height: 60px;
        padding: 0 60px;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .separator
    {
        background-color: rgb(var(--color-1));
        width: 3px;
        height: 60px;
    }

    slot[name="page"]
    {
        user-select: none;
        
        display: flex;
        gap: 20px;
    }

    slot[name="page"]::slotted(label)
    {
        color: rgb(var(--color-1));
    }

    #navigation__fields
    {
        position: absolute;

        top: 60px;
        right: 60px;
        width: 300px;
        gap: 20px;
        padding: 40px;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        z-index: 1;
        -webkit-box-shadow: 0px 0px 13px 0px rgb(var(--color-1));
        box-shadow: 0px 0px 13px 0px rgb(var(--color-1));
        background: rgb(var(--white));

        display: flex;
        flex-direction: column;
    }
}

/*===============================================//
// PHONE
//===============================================*/

@media screen and (max-width: 800px)
{
    #header__container
    {
        margin: 0 auto;
        height: 60px;
        padding: 0 20px;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    slot[name="page"]
    {
        display: none;
    }

    #navigation__fields
    {
        position: absolute;

        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        gap: 20px;
        padding: 20px;
        background: rgb(var(--white));

        display: flex;
        flex-direction: column;
    }
}
</style>
<div id="header">
    <div id="header__container">
        <div id="header__logo">
            <img src="/static/images/icons/hercule.png" width="30px" height="30px" draggable="false">
            <span>HERCULE</span>
        </div>

        <div class="separator"></div>

        <slot name="page"></slot>

        <mou-link id="navigation" label="Navigation" title="Ouvrir la navigation" css="colored"></mou-link>

        <div id="navigation__fields" class="hide">
            <slot name="controls"></slot>
        </div>
    </div> 
</div>