<style>
@import "/static/css/root.css";

#board
{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#board__collection
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

</style>
<div id="board">
    <a href="/form" class="root button colored">Remplir un nouveau formulaire</a>

    <div id="board__collection">
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
        <p>TEXT</p>
    </div>
</div>