body
{
    color: rgb(var(--dark-text));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p
{
    font-size: 18px;
}

.separator
{
    background-color: rgb(var(--color-1));
    height: 3px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}

#form__title
{
    display: flex;
    align-items: center;
    gap: 20px;
}

#subtitle.error
{
    color: rgb(var(--color-error));
}

#form__frame
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form__fields
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form__controls
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 800px)
{
    h2
    {
        font-size: 40px;
    }

    #form
    {
        border-radius: var(--border-radius);
        border: 1px solid rgb(var(--color-1));
        padding: 40px;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        margin: auto;
        width: 700px;

        display: grid;
        grid-template-columns: 1fr 80px;
        gap: 40px;
    }

    #form__bar
    {
        background-color: rgb(var(--color-5));
        border-radius: 4px;
    }
}

@media screen and (max-width: 800px)
{
    h2
    {
        font-size: 30px;
    }

    #form
    {
        margin: auto;
        width: 100%;
        padding: 20px;
    }

    #form__bar
    {
        display: none;
    }
}