@font-face
{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

:root
{
    /* palette */
    --color-moutarde-normal: 221, 204, 109;
    --color-moutarde-sature: 235, 214, 95;
    --color-moutarde-light: 237, 227, 176;

    /* spaces */
    --space_5: 5px;
    --space_10: 10px;
    --space_15: 15px;
    --space_60: 60px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}