<style>
@import "/static/css/root.css";

#signin
{
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 40px;
    width: 100%;
}
#signin__container
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}
#signin__field
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    gap: 20px;
}
#title
{
    font-size: 30px;
    font-weight: 400;
}
#subtitle
{
    transition: color .2s;
}
#signin__form
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#signin__logo
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.error
{
    color: #d93025;
}
.success
{
    color: green;
}
</style>
<div id="signin">
    <div id="signin__container">
        <div id="signin__field">
            <span id="title">Connexion</span>
            <span id="subtitle">Se connecter sur l'api moutarde</span>
            <form id="signin__form" action="#" onsubmit="return false">
                <input id="username" class="root input" type="text" placeholder="Nom d'utilisateur" required>
                <input id="password" class="root input" type="password" required>
                <button id="button" class="root button colored">Se connecter</button>
            </form>
        </div>
        <div id="signin__logo">
            <img src="/static/images/Moutarde.png" width="120px" height="120px">
        </div>
    </div>
</div>