<style>
@import "/static/css/root.css";

#field
{
    position: relative;
}

textarea
{
    border: 1px solid rgb(var(--dark-text));
    color: rgb(var(--dark-text));
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    width: 100%;
    resize: vertical;
    min-height: 100px;
    background-color:#fff;
}

textarea:focus
{
    border-color: rgb(var(--color-1));
}

textarea:focus ~ label
{
    top: -9px;
    left: 5px;
    font-size: small;
    color: rgb(var(--color-1));
    background-color:#fff;
    padding: 0 5px;
    border-color: rgb(var(--color-1)) !important;
}

textarea.notempty ~ label
{
    top: -9px;
    left: 5px;
    font-size: small;
    background-color:#fff;
    padding: 0 5px;
    border-color: rgb(var(--dark-text));
}

textarea.error
{
    border-color: rgb(var(--color-error));
}

textarea.error ~ label
{
    color: rgb(var(--color-error));
}

label
{
    color: rgb(var(--dark-text));
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
    background-color:#fff;
    border: 1px solid transparent;
    border-radius: 20px;
}


</style>
<div id="field">
    <textarea></textarea>
    <label>Placeholder</label>
</div>