body
{
    margin-top: 60px;
    color: rgb(var(--dark-text));

    display: flex;
    align-items: center;
    justify-content: center;
}

h2
{
    font-size: 40px;
}

p
{
    font-size: 18px;
}

#page
{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: auto;
    padding: 40px;

    display: flex;
}

#reset
{
    border-radius: var(--border-radius);
    border: 1px solid rgb(var(--color-1));
    padding: 40px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
    margin: auto;
    width: 700px;

    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 40px;
}

#reset__title
{
    display: flex;
    align-items: center;
    gap: 20px;
}

#subtitle.error
{
    color: rgb(var(--color-error));
}

#reset__frame
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#reset__fields
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#reset__password
{
    display: flex;
    gap: 20px;
    align-items: center;
}

#show
{
    height: 37px;
    width: 37px;
}

#reset__controls
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#reset__bar
{
    background-color: rgb(var(--color-5));
    border-radius: 4px;
}