body
{
    color: rgb(var(--dark-text));
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

h3
{
    user-select: none;
}

p
{
    font-size: 18px;
}

strong
{
    color: rgb(var(--color-1));
    user-select: none;
}

.separator
{
    background-color: rgb(var(--color-1));
    height: 3px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
}

.contact__frame img
{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    user-select: none;
}

@media screen and (min-width: 800px)
{
    h2
    {
        user-select: none;
        font-size: 40px;
    }

    #page
    {
        padding: 40px;
        margin: auto;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    .contact
    {
        border-radius: var(--border-radius);
        border: 1px solid rgb(var(--color-1));
        padding: 40px;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        transition: .2s;
        cursor: pointer;
    }
    .contact:hover
    {
        transform: scale(1.1);
    }

    .contact__frame
    {
        display: grid;
        grid-template-rows: 200px auto;
        gap: 10px;
    }
}

@media screen and (max-width: 800px)
{
    h2
    {
        user-select: none;
        font-size: 30px;
    }

    #page
    {
        padding: 20px;
        margin: auto;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact
    {
        border-radius: var(--border-radius);
        border: 1px solid rgb(var(--color-1));
        padding: 20px;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        cursor: pointer;
    }

    .contact__frame
    {
        display: grid;
        grid-template-rows: 200px auto;
        gap: 10px;
    }

    
}