body
{
    color: rgb(var(--white));
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px)
{
    #page
    {
        padding: 40px;
        margin: auto;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media screen and (max-width: 800px)
{
    #page
    {
        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}