<style>
@import "/static/css/root.css";

#input__block
{
    position: relative;
}

#input__block__fields
{
    border: 2px solid rgb(var(--color-9));
    border-radius: var(--border-radius);
    background-color: rgb(var(--white));
    min-height: 150px;

    display: flex;
}

#input__block__fields.focus
{
    border-color: rgb(var(--color-1));
}

textarea
{
    border: none;
    color: rgb(var(--color-9));
    padding: 13px 10px;
    flex: 1;
    outline: none;
    resize: vertical;
    min-height: 150px;
    font-size: 18px;
}

label
{
    position: absolute;

    color: rgb(var(--color-9));
    pointer-events: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 13px 10px;
    background-color:rgb(var(--white));
    border: 2px solid rgb(var(--color-9));
    border-radius: var(--border-radius);
    font-size: 18px;

    transition: none;
}

label.move
{
    top: -9px;
    left: 5px;
    width: inherit !important;
    height: inherit;
    font-size: small;
    padding: 0 5px;
    color: rgb(var(--color-1));
    border-color: rgb(var(--color-1));
    border-radius: var(--border-radius);

    transition: top 0.2s;
}

label.filled
{
    color: rgb(var(--color-9));
    border-color: rgb(var(--color-9));
}

label.hide
{
    display: none;
}

#icon.focus
{
    border-color: rgb(var(--color-1));
}

#icon.hide
{
    display: none;
}

/*===============================================//
// PC
//===============================================*/

@media screen and (min-width: 800px)
{
    label.icon
    {
        width: calc(100% - 150px);
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    #icon
    {
        width: 150px;
        border-left: 2px solid rgb(var(--color-9));

        display: flex;
    }

    #icon img
    {
        max-width: 120px;
        max-height: 120px;
        margin: auto;
    }
}

/*===============================================//
// PHONE
//===============================================*/

@media screen and (max-width: 800px)
{
    label.icon
    {
        width: calc(100% - 50px);
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    #icon
    {
        width: 50px;
        border-left: 2px solid rgb(var(--color-9));

        display: flex;
    }

    #icon img
    {
        max-width: 40px;
        max-height: 40px;
        margin: auto;
    }
}
</style>
<div id="input__block">
    <div id="input__block__fields">
        <textarea></textarea>
        <div id="icon">
            <img draggable="false">
        </div>
    </div>

    <label></label>
</div>