.chart__field
{
    border-left: 2px solid rgb(var(--color-2));
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*===============================================//
// PC
//===============================================*/

@media screen and (min-width: 800px)
{
    h1
    {
        font-size: 40px;
        text-align: center;
    }

    h2
    {
        font-size: 35px;
        color: rgb(var(--color-2));
    }

    #chart
    {
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%), inset 0 -1px 0 0 #dadce0;
        margin: auto;
        padding: 40px;
        min-width: 800px;
        width: 50%;
        z-index: 1;
        background-color: rgb(var(--white));

        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #chart__header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #chart__header img
    {
        max-width: 350px;
    }
}

/*===============================================//
// PHONE
//===============================================*/

@media screen and (max-width: 800px)
{
    h1
    {
        font-size: 25px;
        text-align: center;
    }

    h2
    {
        color: rgb(var(--color-2));
        font-size: 20px;
        font-weight: bold;
    }

    #chart
    {
        padding: 20px;
        z-index: 1;
        background-color: rgb(var(--white));
        min-height: calc(100vh - 60px);

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #chart__header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #chart__header img
    {
        max-width: 150px;
    }
}