body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#forgot
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 20px;
}

#subtitle.error
{
    color: rgb(var(--color-error));
}

h2
{
    font-size: 40px;
}

p
{
    font-size: 18px;
    transition: color .2s;
}

#forgot__form
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#forgot__controls
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}