<style>
@import "/static/css/root.css";

#upload
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#upload__controls
{
    display: flex;
    justify-content: space-between;
}

input
{
    display: none;
}

label
{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 12px 24px 11px;
    text-rendering: optimizeLegibility;
    transition: background-color .2s, color .2s;
    background-color: rgb(var(--color-1));
    color: #fff;
}
label:hover
{
    background-color: rgb(var(--color-1-shade-4));
    color: #fff;
}

#upload__fields
{
    height: 400px;
    display: flex;
}

img
{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
</style>
<div id="upload">
    <div id="upload__controls">
        <mou-link id="delete" label="Supprimer" css="basic"></mou-link>

        <input id="input" type="file" accept="image/*">
        <label for="input">Choisir une image</label>
    </div>

    <div id="upload__fields">
        <img src="/static/images/jpgOrPng.jpg"/ draggable="false">
    </div>
</div>

