<style>
@import "/static/css/root.css";

:host
{
    position: relative;
}
#usermenu__frame
{
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#usermenu__frame.hide
{
    display: none;
}

</style>
<mou-link id="usermenu" label="Menu" css="colored"></mou-link>

<div id="usermenu__frame" class="root frame hide">
    <mou-link href="/users/edit" label="Mon profil" css="default"></mou-link>
    <mou-link href="/posts" label="Mes formulaires" css="default"></mou-link>
    <mou-link id="logout" href="/" label="Se déconnecter" css="colored"></mou-link>
</div>