<style>
@import "/static/css/root.css";

h3,
h4
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

h3
{
    font-size: 30px;
}

h4
{
    font-size: 25px;
}

p
{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
}

#post__frame
{
    display: grid;
    grid-template-rows: 18px 150px 3px 30px 25px 3px 105px auto;
    gap: 10px;
}

#when
{
    text-align: center;
}

#post__image
{
    position: relative;

    display: flex; 
}

img
{
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.hide
{
    object-fit: contain;
    background-color: rgb(var(--white));
}

#post__controls
{
    display: flex;
    justify-content: space-between;
}

/*===============================================//
// PC
//===============================================*/

@media screen and (min-width: 800px)
{
    #post
    {
        position: relative;

        padding: 40px;
        width: 400px;
        transition: transform .2s;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 13px 0px rgb(var(--color-1));
        box-shadow: 0px 0px 13px 0px rgb(var(--color-1));
        border-radius: var(--border-radius-big);
        z-index: 1;

        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 20px;
    }

    #post::before
    {
        position: absolute;

        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: rgb(var(--white));
        border-radius: var(--border-radius-big);
        border: 1px solid rgb(var(--color-1));
        z-index: -1;
    }

    #post:hover
    {
        transform: scale(1.1);
    }
}

/*===============================================//
// PHONE
//===============================================*/

@media screen and (max-width: 800px)
{
    #post
    {
        position: relative;

        z-index: 1;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 13px 0px rgb(var(--color-1));
        box-shadow: 0px 0px 13px 0px rgb(var(--color-1));
        border-radius: var(--border-radius-big);
    }

    #post::before
    {
        position: absolute;

        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-color: rgb(var(--white));
        border-radius: var(--border-radius-big);
        border: 1px solid rgb(var(--color-1));
        z-index: -1;
    }
}
</style>
<div id="post">
    <div class="root__bar"></div>

    <div id="post__frame">
        <span id="when"></span>

        <div id="post__image">        
            <img src="/static/images/icons/10_appareil_photo.png" class="hide" draggable="false">
        </div>

        <div class="root__separator"></div>

        <h3 id="situation"></h3>
        <h4 id="tool"></h4>
        
        <div class="root__separator"></div>
        
        <p id="description"></p>

        <div id="post__controls">
            <mou-link id="delete" label="Supprimer" css="basic" title="Supprimer la page du carnet"></mou-link>
            <mou-link id="edit" label="Relire" css="colored" title="Editer la page du carnet"></mou-link>
        </div>
    </div>

    <div id="popup" class="root__popup">
        <div class="root__popup__frame">
            <p id="popup__subtitle">Etes vous <strong>certain</strong> de vouloir supprimer cette page du carnet ? Cette action est <strong>irréversible</strong>.</p>
        
            <div class="root__popup__controls">
                <mou-link id="cancel" label="Annuler" css="colored" title="Annuler"></mou-link>
                <mou-link id="confirm" label="Supprimer" css="basic" title="Confirmer la suppression de la page du carnet"></mou-link>
            </div>
        </div>
    </div>
</div>


