<style>
@import "/static/css/root.css";

h2,
h3
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

p
{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
}

strong
{
    color: rgb(var(--color-1));
}

.separator
{
    background-color: rgb(var(--white));
    height: 2px;
    -webkit-box-shadow: 0px 0px 13px 0px rgb(var(--white)); 
    box-shadow: 0px 0px 13px 0px rgb(var(--white));
}

#post__frame
{
    display: grid;
    grid-template-rows: 18px 150px 3px 30px 25px 3px 105px auto;
    gap: 10px;
}

#when
{
    text-align: center;
}

#post__image
{
    position: relative;

    display: flex; 
}

img
{
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.hide
{
    object-fit: contain;
    background-color: rgb(var(--white));
}

#post__controls
{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#popup
{
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--black), 0.8);
    border-radius: var(--border-radius);
    padding: 40px;

    display: none;
}

#popup__frame
{
    margin: auto;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#popup__subtitle
{
    color: rgb(var(--white));
}

#popup__subtitle.error
{
    color: rgb(var(--color-10));
}

#popup__controls
{
    display: flex;
    justify-content: space-between;
}

/*===============================================//
// PC
//===============================================*/

@media screen and (min-width: 800px)
{
    #post
    {
        position: relative;

        padding: 40px 90px 40px 40px;
        width: 400px;
        transition: transform .2s;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 13px 0px rgb(var(--color-2));
        box-shadow: 0px 0px 13px 0px rgb(var(--color-2));
        border-radius: var(--border-radius-big) 0 0 var(--border-radius-big);
        z-index: 1;
    }

    #post::before
    {
        position: absolute;

        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: rgb(var(--color-2));
        background: linear-gradient(to bottom, rgb(var(--color-2)) 0%, rgb(var(--color-3)) 100%);
        border-radius: var(--border-radius-big) 0 0 var(--border-radius-big);
        border: 1px solid rgb(var(--color-4));
        z-index: -1;
    }

    #post:hover
    {
        transform: scale(1.1);
    }

    #post__bar
    {
        position: absolute;

        top: 0;
        right: -1px;
        width: 50px;
        height: 100%;
        background-color: rgb(var(--color-3));
        opacity: 0.7;
        border-radius: var(--border-radius-big) 0 0 var(--border-radius-big);
    }

    #post__rings 
    {
        position: absolute;

        top: 20px;
        right: -28px;
        width: 50px;
        height: 510px;
        background: url("/static/images/ring.png");
        background-size: contain;
    }
}

/*===============================================//
// PHONE
//===============================================*/

@media screen and (max-width: 800px)
{
    #post
    {
        position: relative;

        z-index: 1;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 13px 0px rgb(var(--color-2));
        box-shadow: 0px 0px 13px 0px rgb(var(--color-2));
        border-radius: var(--border-radius);
    }

    #post::before
    {
        position: absolute;

        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: rgb(var(--color-2));
        background: linear-gradient(to bottom, rgb(var(--color-2)) 0%, rgb(var(--color-3)) 100%);
        border-radius: var(--border-radius-big) 0 0 var(--border-radius-big);
        border: 1px solid rgb(var(--color-4));
        border-radius: var(--border-radius);
        z-index: -1;
    }

    #post__bar
    {
        display: none;
    }

    #post__rings
    {
        display: none;
    }
}
</style>
<div id="post">
    <div id="post__frame">
        <span id="when"></span>

        <div id="post__image">        
            <img src="/static/images/icons/10_appareil_photo.png" class="hide" draggable="false">
        </div>

        <div class="separator"></div>

        <h2 id="situation"></h2>
        <h3 id="tool"></h3>
        
        <div class="separator"></div>
        
        <p id="description"></p>

        <div id="post__controls">
            <mou-link id="delete" label="Supprimer" css="basic" title="Supprimer la page du carnet"></mou-link>
            <mou-link id="edit" label="Editer" css="colored" title="Editer la page du carnet"></mou-link>
        </div>
    </div>
    
    <div id="post__bar"></div>
    <div id="post__rings"></div>

    <div id="popup">
        <div id="popup__frame">
            <p id="popup__subtitle">Etes vous <strong>certain</strong> de vouloir supprimer cette page du carnet ? Cette action est <strong>irréversible</strong>.</p>
        
            <div id="popup__controls">
                <mou-link id="cancel" label="Annuler" css="colored" title="Annuler"></mou-link>
                <mou-link id="confirm" label="Supprimer" css="basic" title="Confirmer la suppression de la page du carnet"></mou-link>
            </div>
        </div>
    </div>
</div>


