<style>
@import "/static/css/root.css";

h2,
h3
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

p
{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

strong
{
    color: rgb(var(--color-1));
}

.separator
{
    background-color: rgb(var(--color-1));
    height: 2px;
    -webkit-box-shadow: 0px 0px 13px 0px #F8AC00; 
    box-shadow: 0px 0px 13px 0px #F8AC00;
}

#post__frame
{
    display: grid;
    grid-template-rows: 18px 3px 150px 3px 30px 25px 3px 110px auto;
    gap: 10px;
}

#date
{
    text-align: center;
}

#post__image
{
    display: flex;
    
}

#post__image img
{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#post__controls
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#popup
{
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px 0 0 20px;
    padding: 40px;

    display: none;
}

#popup__frame
{
    margin: auto;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#popup__subtitle
{
    color: #fff;
}

#popup__subtitle.error
{
    color: rgb(var(--color-error));
}

#popup__controls
{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 800px)
{
    #post
    {
        position: relative;

        padding: 40px 90px 40px 40px;
        width: 400px;
        transition: .2s;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 13px 0px #F8AC00; 
        box-shadow: 0px 0px 13px 0px #F8AC00;
        border-radius: 20px 0 0 20px;
        z-index: 1;
    }

    #post::before
    {
        position: absolute;

        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(var(--color-5));
        background: linear-gradient(180deg, rgba(7,88,97,1) 2%, rgba(0,139,158,1) 40%, rgba(0,139,158,1) 60%, rgba(7,88,97,1) 98%);
        opacity: 0.8;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 20px 0 0 20px;
        z-index: -1;
    }

    #post:hover
    {
        transform: scale(1.1);
    }

    #post__bar
    {
        position: absolute;

        top: 0;
        right: 0px;
        width: 50px;
        height: 100%;
        background-color: rgb(var(--color-5));
        border-radius: 20px 0 0 20px;
    }

    #post__rings 
    {
        position: absolute;

        top: 20px;
        right: -28px;
        width: 50px;
        height: 565px;
        background: url("/static/images/ring.png");
        background-size: contain;
    }
}
@media screen and (max-width: 800px)
{
    #post
    {
        position: relative;

        z-index: 1;
        margin: auto 20px;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 13px 0px #F8AC00; 
        box-shadow: 0px 0px 13px 0px #F8AC00;
        border-radius: var(--border-radius);
    }

    #post::before
    {
        position: absolute;

        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(var(--color-5));
        background: linear-gradient(180deg, rgba(7,88,97,1) 2%, rgba(0,139,158,1) 40%, rgba(0,139,158,1) 60%, rgba(7,88,97,1) 98%);
        opacity: 0.8;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: var(--border-radius);
        border: 1px solid rgba(255, 255, 255, 0.18);
        z-index: -1;
    }

    #post__bar
    {
        display: none;
    }

    #post__rings
    {
        display: none;
    }
}
</style>
<div id="post">
    <div id="post__frame">

        <p id="date"></p>

        <div class="separator"></div>

        <div id="post__image">
            <img src="/static/images/logo.jpg" draggable="false">
        </div>

        <div class="separator"></div>

        <h2 id="title"></h2>
        <h3 id="tool"></h3>
        
        <div class="separator"></div>
        
        <p id="description"></p>

        <div id="post__controls">
            <mou-link id="edit" label="Editer" css="colored" title="Editer la page du carnet"></mou-link>
            <mou-link id="delete" label="Supprimer" css="basic" title="Supprimer la page du carnet"></mou-link>
        </div>
    </div>
    
    <div id="post__bar"></div>
    <div id="post__rings"></div>

    <div id="popup">
        <div id="popup__frame">
            <p id="popup__subtitle">Etes vous <strong>certain</strong> de vouloir supprimer cette page du carnet ? Cette action est <strong>irréversible</strong>.</p>
        
            <div id="popup__controls">
                <mou-link id="cancel" label="Annuler" css="colored" title="Annuler"></mou-link>
                <mou-link id="confirm" label="Supprimer" css="basic" title="Confirmer la suppression de la page du carnet"></mou-link>
            </div>
        </div>
    </div>
</div>

