<style>
@import "/static/css/root.css";

#field
{
    position: relative;
}

select
{
    border: 1px solid rgb(var(--dark-text));
    color: rgb(var(--dark-text));
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    width: 100%;
}
select:focus
{
    border-color: rgb(var(--color-1));
}
select:focus ~ label
{
    top: -9px;
    left: 5px;
    font-size: small;
    color: rgb(var(--color-1));
    background-color:#fff;
    padding: 0 5px;
}
select.notempty ~ label
{
    top: -9px;
    left: 5px;
    font-size: small;
    background-color:#fff;
    padding: 0 5px;
}
select.error
{
    border-color: rgb(var(--color-error));
}
select.error ~ label
{
    color: rgb(var(--color-error));
}

label
{
    color: rgb(var(--dark-text));
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s;
    background-color:#fff;
}


</style>

<div id="field">
    <select>
        <option value=""></option>
    </select>
    <slot></slot>
    <label>Placeholder</label>
</div>