<style>
@import "/static/css/root.css";

#field
{
    position: relative;

    display: flex;
}

select
{
    border: 1px solid rgb(var(--dark-text));
    color: rgb(var(--dark-text));
    padding: 10px;
    border-radius: 4px;
    outline: none;
    flex: 1;
    height: 40px;
    background-color:#fff;
}

select:focus
{
    border-color: rgb(var(--color-1));
}

select:focus ~ label
{
    top: -9px;
    left: 5px;
    font-size: small;
    color: rgb(var(--color-1));
    background-color:#fff;
    padding: 0 5px;
    border-color: rgb(var(--color-1)) !important;
}

select.notempty ~ label
{
    top: -9px;
    left: 5px;
    font-size: small;
    background-color:#fff;
    padding: 0 5px;
    border-color: rgb(var(--dark-text));
}

select.error
{
    border-color: rgb(var(--color-error));
}

select.error ~ label
{
    color: rgb(var(--color-error));
}

label
{
    color: rgb(var(--dark-text));
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 11px;
    transition: 0.2s;
    background-color:#fff;
    border: 1px solid transparent;
    border-radius: 20px;
}
</style>
<div id="field">
    <select></select>
    <slot></slot>
    <label></label>
</div>